/* latin-ext */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.secao {
    padding: 5vw 5vw 5vw 5vw;
    min-height: 40vh;
}

header {
    width: 100vw;
    height: 60px;
    background: #E25171;    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #E25171;
    color: #FFFFFF;
    width: 100vw;
    bottom: 0;
    position: relative;
}

button {
    background-color: #00A6FF;
    color: #ffffff;
    border-radius: 5PX;
}

p {
    font-size: 16px;
    line-height: 16px;
    color: #8190A5;
}

i {
    color: #111111;
}

h3, h4, h5 {
    color: #47525E;
}

input {
    padding: 14px;
    font-size: 16px;
    color: #333333;
    margin: 5px 10px 5px 10px;
}

button {
    border-radius: 5px;
    border: 0;
    padding: 14px;
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    color: #333333;
    text-decoration: none;
}

.interesses {
    display: flex;
    background-color: #DDCCFF;
    height: 40vh;
}

.nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

.nav-bar>ul>li {
    margin-right: 10px;
    display: inline-block;
}

.logo {
    width: 100px;
    height: auto;
}

/*Login*/

#section-login {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;
}

.call-meliuz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E25171;
    width: 40vw;
    text-align: center;
}

.call-meliuz>img {
    width: 50%;
}

.call-meliuz-mob {
    display: none;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    text-align: center;
    width: 60vw;
}

.form-login>img {
    width: 15vw;
}

/*ícones*/

.inputIcon {
    position: relative;
}

.inputIcon>i {
    position: absolute;
    top: 15px;
    padding: 10px 10px 0 20px;
    color: #767676;
}

.inputIcon>input {
    width: 20vw;
    border: solid 1px;
    border-color: #8492A6;
    padding-left: 40px;
}

.button-login {
    border-radius: 5px;
    background-color: #00A6FF;
    width: 95%;
    padding: 14px;
    color: #FFFFFF;
}

/*Itens de galeria*/

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.item-galeria {
    width: 15vw;
    height: 15vw;
    margin: 5px;
    background-color: #E5E9F2;
    position: relative;
    border-radius: 5px 5px 5px 5px;
}

.item-galeria>p {
    position: absolute;
}

.item-galeria>img {
    width: 100%;
    height: 80%;
    border-radius: 5px 5px 0 0;
}

.icon-ball {
    background: #333333;
    color: #DDDDDD;
    border-radius: 180px;
    padding: 10px;
}

/*Navegação horizontal com swiper*/

.slider {
    font-size: 14px;
    color: #000;
    background-position: top;
    background-size: cover;
    background-image: url("../images/slider-background.jpg");
    height: auto;
}

.swiper-container {
    color: #FFFFFF;
    width: 100vw;
    height: 100%;
    padding: 0 0 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-slide {
    border: 0;
    border-radius: 3px;
    max-width: 20vw;
    text-align: center;
    font-size: 18px;
    height: 250px;
    background: #E25171;
    /*Center slide text vertically ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
}

div.swiper-slide.swiper-slide-next {
    margin-right: 0;
}

.exp {
    height: 250px;
}

.exp>img {
    border-radius: 4px 4px 0 0;
    height: 70%;
    width: 100%;
}

.slide-desc {
    height: 30%;
}

.slide-desc>p>a {
    color: #FFFFFF;
}

.slide-desc>p {
    line-height: 14px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.swiper-button-next {
    background-image: url("../images/next.png");
    width: 30px;
    height: 44px;
}

.swiper-button-prev {
    background-image: url("../images/prev.png")
}

.compra-banner {
    position: relative;
    width: 100vw;
    height: 40vh;
    background-position: top;
    background-size: cover;
}

.compra-banner>img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.compra-tit {
    width: 100vw;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    text-justify: center;
    align-items: center;
    color: #ffffff;
    bottom: 0;
    position: absolute;
}

.compra-desc {
    padding: 3vw 5vw 3vw 5vw;
    line-height: 16px;
}

.compra-preco {
    margin: 0 20px 0 0;
    background-color: #77D353;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.compra-desc>button {
    width: 30%;
}

.cesta-bloco {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin:10px 0 10px 0;
}

.cesta-banner {
    position: relative;
    width: 40vw;
    height: 40vw;
    background-position: top;
    background-size: cover;
}

.cesta-banner>img {
    display: flex;
    position: absolute;
    height: 70%;
    width: 100%;
}

.cesta-prod {
    display: flex;
    flex-direction: column;
}

.cesta-tit {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30%;
    align-items: flex-end;
    background-color: #E25171;
    color: #ffffff;
    bottom: 0;
    position: absolute;
}

.cesta-info{
    width: 60vw;
    padding-left: 5vw;
}

.cesta-cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.cesta-cartao>button{
    padding: 15px;
    margin-top:10px;
    align-self: flex-end;
    width: 50%;
    background-color: #77D353;
}

.input-line{
    display: flex;
    width: 100%; 
    justify-items: center;
}

.input-line>input{
    max-width: 30vw;
}

.cesta-desc {
    padding: 3vw 5vw 3vw 5vw;
    line-height: 16px;
}

.cesta-preco {
    border: solid 1px;
    border-color: #343F4B;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.cesta-desc>button {
    width: 30%;
}

.star>i {
    color: #FFDD11;
}

/*Mobile*/

@media screen and (max-width: 768px) {
    #section-login {
        flex-direction: column;
    }
    .call-meliuz {
        display: none;
        width: 0vw;
    }
    .call-meliuz-mob {
        padding: 25px;
        display: block;
        line-height: 35px;
    }
    .form-login {
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 100vw;
    }
    .form-login>img {
        width: 50vw;
    }
    .inputIcon>input {
        width: 70vw;
    }
    .swiper-slide {
        min-width: 40vw;
        max-width: 50vw;
        height: 150px;
        margin: 0 0 0 0;
    }
    .exp {
        height: 150px;
    }
    .item-galeria {
        width: 30vw;
        height: 30vw;
    }
    .compra-desc>button {
        width: 100%;
    }
    .secao>.galeria>.item-galeria {
        width: 40vw;
        height: 40vw;
    }
}
/*MENU SANDWICH*/
.nav-toggle {
    display: block;
    padding: 10px 10px 15px 10px;
    background: #e25171;
    top: 0px;
    right: 5px;
    z-index: 50;
    }
.hamburger {
    width: 1.08em;
    display: inline-block;
    height: 0.6em;
    font-size: 1.2em;
    background: #ff3859;
    }
.hamburger span {
    display: block;
    width: 30px;
    height: 6px;
    margin-bottom: 3px;
    background: #ffffff;
    border-radius: 3px;
    }
/*PERFIL*/
.userperfil{
    min-height: 50vh; 

}
.user{
    padding: 10cm;

}
.foto-perfil{
    height: 30vw;
    float: left;

}
.button-perfil{
    
}
